@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body {
	display : grid;
	grid-template-rows: 120px 50px auto 100px;
	height: 100vh;
}

header {
	background-color: #4cb2e9;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #99d7ff
}
.nav_menu{
	display: flex;
	flex-direction: rows;
	justify-content: space-around;
}
.client_menu {
	display: flex;
	flex-direction: rows;
	justify-content: space-around;
	font-size: 20px;
}
.admin_menu {
	align-items: baseline;
	display: flex;
	flex-direction: rows;
	justify-content: space-evenly;
	padding-top: 50px;
	text-align: center;
}
.venuejoin{
	display: flex;
	text-align: center;
	flex-direction: rows;
	justify-content: space-evenly;
    padding-top: 50px;
}
.venuejoin>button{
	 width: 115px;
    height: 64px;
    background-color: #0042a5;
    color: white;
    font-size: x-large;
    border-radius: 30%;
}

section {
	background-color: #e7f9ff;
}
.mainSection {
	border: solid 2px;
	text-align: center;
	background-color: #f3ff90;
	padding-bottom: 20px;
}
.main_img{
	border: solid 1px;
	text-align: center;
	padding: 50px;
}
footer {
	color: black;
	background-color: #4cb2e9;
}
h1, h2 {
	text-align: center;
}
h1{
	font-family: fantasy;
	margin-top: 40px;
}
h2 {
	margin-top: 20px;
}

ul {
	display : flex;
	list-style: none;
	justify-content: center;
	font-size: x-large;
}
li {
	padding: 0 20px;
}
footer>p{
	text-align: center;
	margin-top: 20px;
}
table {
	margin-top : 30px;
	border: 1px solid grey;
	border-collapse : collapse;
	background-color: #77c0ff

}
td>input {
	margin: 20px auto;
	outline: none;
}
th, td {
	padding: 2px 10px;
	text-align: center;
}
a {
	text-decoration:none;
	cursor:pointer;
	color:black;
}
form{
	display: flex;
	flex-direction:column;
	justify-content: center;
	
	width: fit-content;
	margin: auto;
}

.main_log {
	color:blue;
	font-family: fantasy;
}