@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

body {
	display : grid;
	grid-template-rows: 120px 50px auto 100px;
	height: 100vh;
}

header {
	background-color: #4cb2e9;
}

nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #99d7ff
}
.nav_menu{
	display: flex;
	flex-direction: rows;
	justify-content: space-around;
}
.client_menu {
    padding-top: 10%;
	display: flex;
    justify-content: space-evenly;
    font-size: x-large;
    text-align: center;
}
.admin_menu {
	align-items: baseline;
	display: flex;
	flex-direction: rows;
	justify-content: space-evenly;
	padding-top: 50px;
	text-align: center;
}
.venuejoin{
	display: flex;
	text-align: center;
	flex-direction: rows;
	justify-content: space-evenly;
    padding-top: 50px;
}
.venuejoin>button{
	width: 300px;
    height: 70px;
    background-color: #0042a5;
    color: white;
    font-size: x-large;
   
}

section {
	background-color: #e7f9ff;
}
.mainSection {
	border: solid 2px;
	text-align: center;
	background-color: #f3ff90;
	padding-bottom: 20px;
}
.main_img{
	border: solid 1px;
	text-align: center;
	padding: 50px;
}
footer {
	color: black;
	background-color: #4cb2e9;
}
h1, h2 {
	text-align: center;
}
h1{
	font-family: fantasy;
	margin-top: 20px;
	margin-botttom: 20px;
}
h2 {
	margin-top: 20px;
}
h3 {
	margin: 20px;
}

ul {
	display : flex;
	list-style: none;
	justify-content: center;
	font-size: x-large;
	color:#0066ff;
	gap: 20px;
}
li {
	padding: 0 20px;
	background-color: #ceffc5;;
    border: solid 1px black;
}
li>.client_menu{
	background-color: #ffffff;
}
footer>p{
	text-align: center;
	margin-top: 20px;
}
table {
	margin-top : 30px;
	border: 1px solid grey;
	border-collapse : collapse;
	margin:auto;
	width: 75%;
}


.TEST {
	width: 500px;
	font-family: emoji;
	background-color: #0084db;
	color:#ffffff;
}
.TEXTAREA {
	width: 800px;
	font-family: emoji;
	background-color: #0084db;
	color:#ffffff;
}
textarea{
	height:300px;
	width: 80%;
}
table>thead{
	background-color: #77c0ff;
}
td>input {
	margin: 20px auto;
	outline: none;
	width:80%;
}
.KEY{
	background-color: #006ec5;
	color: white;
}
.BOARD_TITLE{
	background-color: #ffffff;
	width: 600px;
}
.VALUE {
	background-color: #afebff00;
}
.LIST {
	background-color: #addbff;
}
.LIST_YES{
	background-color: #155ef5;
	color : yellow;
}
.LIST_NO{
	background-color: red;
	color : yellow;
}
.LIST_BTN{
	background-color: #f7ffa5fa;
}
th, td {
	padding: 2px 10px;
	text-align: center;
}
a {
	text-decoration:none;
	cursor:pointer;
	color:black;
}
.searchBox{
	text-align: center;
}
form{
	display: flex;
	flex-direction:column;
	justify-content: center;
	width: fit-content;
	margin: auto;
}

.main_log {
	color:blue;
	font-family: fantasy;
}